.App_container {
  text-align: center;
}

.App_header, .App_footer {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App_footer{
  min-height: 4vh;
  font-size: calc(5px + 1vmin);
}

.body_paragraph{
  padding: 8px 0;
}
