.App_container {
  text-align: end;
}

.App_header,
.App_footer {
  background-color: #282c34;
  min-height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App_footer {
  min-height: 4vh;
  font-size: calc(5px + 1vmin);
  margin-top: 24px;
}

.body_paragraph {
  padding: 8px 0;
}

.loader_container{
  background-color: #282c34;
  min-height: 90vh;
}